body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    color: #ff9900;
}

/* Full-height background image */
.bg-image {
    background-image: url('pikaso_text-to-image_a-male-Caucasian-in-his-30s-wearing-a-graphic-tshi-original.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.5); /* Darkens the image a bit for contrast */
}

/* Container for content */
.content {
    height: 90%;
    padding: 20px;
    place-self: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Main heading */
h1 {
    font-size: 48px;
    font-weight: bold;
}

/* Button styling */
.cta-button {
    background-color: #ffcc00;
    color: black;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
}

.cta-button:hover {
    background-color: #ff9900;
}

/* Semi-transparent background section */
.info-box {
    background-color: rgba(128, 128, 128, 0.4); /* Grey with transparency */
    color: rgb(251, 246, 246);
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    display:flex;
    align-items:left;
    justify-content: center;
}


/* Semi-transparent background section small font */
.legal-box {
    background-color: rgba(128, 128, 128, 0.65); /* Grey with transparency */
    color: rgb(38, 36, 36);
    padding: 20px;
    padding-bottom: 40px;
    margin-top: 20px;
    font-size: 16px;
    align-items:center;
    justify-content: left;
}


.bottom-box {
    background-color: rgba(128, 128, 128, 0.4); /* Grey with transparency */
    color: rgb(251, 246, 246);
    padding: 20px;
    margin-top: 20px;
    font-size: 24px;
    display:flex;
    align-items:center;
    justify-content: center;     
    position: absolute;
    bottom: 0;
    width: 100%;       
}

.hpadded {
    padding-right: 50px;
}

.logo {
    padding: 20px;
    display: flex;
    position:relative;
    top: 0;
    left: 0;
    z-index: 8000;
    align-items:center;
    justify-content: left; 

}

.cta-group{
    padding-top: 10em;
}

.footer{
    display: flex;
    position: absolute;
    bottom:0;
    z-index: 8000;
    padding: 20px;
}

.logo-img {
    width: 200px;  /* Riduce la larghezza */
    font-size: 18px;  /* Riduce la dimensione del testo */
    line-height: 200px; /* Adatta l'altezza della linea */
}

@media (max-width: 600px) {

    .cta-group{
        padding-top: 4em;
    }

    .logo{
        display: flex;
        position: relative;
    }

    .footer{
        display:flex;
        position: relative;
        padding: 20px;
        margin-top: 50px;
        align-items: normal;
        justify-content: center;
        text-align: left;
    }

    body {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #151515;
        display:list-item;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}




/* Yellow background section */
.highlight-box {
    background-color: #f1efe6;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;

}